<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>IniciarSesion</servlet-name>
        <servlet-class>Servlet.IniciarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarUsuario</servlet-name>
        <servlet-class>Servlet.RegistrarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarUsuario</servlet-name>
        <servlet-class>Servlet.ActualizarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargarLenguaje</servlet-name>
        <servlet-class>Servlet.CargarLenguaje</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IniciarProyecto</servlet-name>
        <servlet-class>Servlet.IniciarProyecto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IniciarSesion</servlet-name>
        <url-pattern>/iniciar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarUsuario</servlet-name>
        <url-pattern>/registrar-usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarUsuario</servlet-name>
        <url-pattern>/actualizar-usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargarLenguaje</servlet-name>
        <url-pattern>/cargar-lenguaje</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IniciarProyecto</servlet-name>
        <url-pattern>/iniciar-proyecto</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
